<div class="layout-wrapper" (click)="onLayoutClick()"
  [ngClass]="{'layout-horizontal': isHorizontal(),
                 'layout-overlay': isOverlay(),
                 'layout-static': isStatic(),
                 'layout-slim':isSlim(),
                 'layout-static-inactive': staticMenuDesktopInactive,
                 'layout-mobile-active': staticMenuMobileActive,
                 'layout-overlay-active':overlayMenuActive, 'p-input-filled': inputStyle === 'filled', 'p-ripple-disabled': !ripple}">
                 <app-topbar></app-topbar>
</div>
<router-outlet></router-outlet>